body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: lightgray;
}
  
/* Navigatie balk */
.topnav {
  overflow: hidden;
  background-color: #0275D8;
  border: none;
  border-radius: 10px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid white;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.active {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  
}

#first_item{
  margin-left: 30px;
}

/* algemene padding */
.float-container {
  padding: 20px;
}

.float-child {
    float: left;
}  

/* zelfde border voor alle vlakken */
.profile, .hobbys, .float-child-right{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.hobbys{
  margin-top: 20px;
  margin-bottom: 20px;
}

.float-child-left{
  text-align: center;
  width: 25%;
  margin-right: 20px;
}

.float-child-right{
  width: 65%;
  
}

.float-child-right p{
  padding: 10px;
}

.float-child-right h3{
  padding: 10px;
}

.profile_img{
  height: 100%;
  margin-top: 20px;
}

/* maakt van een afbeelding een cirkel */
.image-cropper {
  width: 50%;
  height: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

.hobbys li{
  list-style: none;
  text-align: left;
}

.user_form{
  margin: auto;
  width: 50%;
  text-align: center;
}

.user_form form{
  border: 5px solid white;
}

#user_table{
  margin-left: auto;
  margin-right: auto;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .float-child-left, .float-child-right{
    width: 100%;
  }
}


/* NEW PAGE */

table{ 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
}
  
* { position:relative }
  
td,th {
    padding-left:8px
}

thead tr { 
  height:60px;
  background:#FFED86;
  font-size:16px;
}
  
tbody tr { 
  height:48px; border-bottom:1px solid #E3F1D5 ;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #0275D8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

